
<style>
.payment{
        background-color:339CFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 1em;
        border-bottom: 1px solid #dadada;
        letter-spacing: 3px;
         text-transform: uppercase;
    }
    .order {
        text-align: center;
       
    }
    .order-id{
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .order-price{
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .order-name {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .order-button1{
        background-color: white;
        color: black;
        border: 2px solid #008CBA;
        font-size: 16px;
        padding: 12px 30px;
        border-radius: 12px;
    }
    .checkout{
        background-color: white;
        color: black;
        border: 2px solid #008CBA;
        font-size: 16px;
        padding: 12px 30px;
        border-radius: 12px;
    }
 
</style>

<h1 class="payment">payment</h1>
<div class="order">
    <label>Item Name : </label>
    <ul id="names">
        <li></li>
    </ul>
    <label>Total Amount : </label><br/>
    <input type="text" id="item-price" class="order-price"><br/><br/>
    <button id="order-button" class="order-button1">Confirm Order</button><br/><br/>
    <label >Your Order Id :</label><br/>
    <input type="text" class="order-id" id="rzp-text"><br/><br/>
    <button id="rzp-button" class="checkout">Checkout</button>
</div>

<script>
    window.addEventListener('load',()=>{
        // const name =localStorage.getItem('NAME');
        const names =localStorage.getItem('NAMES')
        const price =localStorage.getItem('PRICE')
        console.log(names)
        console.log(price)
        document.getElementById('names').value = names
        
        document.getElementById('item-price').value = price
        localStorage.clear()
        

});


    document.getElementById('order-button').onclick =function(e){
        var url ='/api/payment/order'
        var params = {
            amount:document.getElementById('item-price').value,
            currency:"INR",
            receipt:"Receipt #20",
            payment_capture: '1'
        };
        console.log(params.amount)
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(res){
            if(xmlHttp.readyState === 4){
                res = JSON.parse(xmlHttp.responseText);
                document.getElementById('rzp-text').value =res.sub.id
            }
        }
        xmlHttp.open("POST",url,true);
        xmlHttp.setRequestHeader("content-type","application/json");
        xmlHttp.send(JSON.stringify(params))
    }
</script>

<div id=paymentDetails></div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('rzp-button').onclick = function(e){
        var options={
            "key":"rzp_test_ItPFd7jw0ooxNL",
            "currency":"INR",
            "name":"test payment",
            "descripotion":"razorpay test transaction",
            "image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
            "order_id":document.getElementById('rzp-text').value,
            "handler": function(response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature);
            },
            "theme": {
        "color": "#227254"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    e.preventDefault();
}
</script>